@page
@model VolsWebApp.Pages.Vols.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.Prevu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.Prevu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.Révisé)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.Révisé)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.Compagnie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.Compagnie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.Provenance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.Provenance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vol.Etat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vol.Etat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vol?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
